# Movies dataset
# OSEMN methodology, Step 2:
# Scrub (clean) data obtained from IMDb
For detailed description, refer to $\texttt{methodology/2.scrub/}$
## Cleanup plan
1. Replace $\texttt{\N}$ with $\texttt{NaN}$ in column $\texttt{deathYear}$.

## Import dependencies

In [1]:
import pandas as pd
from time import time
import os

In [2]:
data_dir = '../../data/imdb/'
tsv_dir = data_dir + 'unpacked/'
os.listdir(tsv_dir)

['title.akas.tsv',
 'title.principals.tsv',
 'title.basics.tsv',
 'name.basics.tsv',
 'title.ratings.tsv',
 'title.crew.tsv',
 'title.episode.tsv']

## $\texttt{names.basics}$ dataset

### Read unpacked file

In [3]:
t = time()
file_name = 'name.basics.tsv'
df = pd.read_csv(tsv_dir + file_name, delimiter='\t',
                 na_values='\\N')
elapsed = time() - t
print("----- DataFrame loaded"
      "\nin {0:.2f} seconds".format(elapsed) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(df.shape[0], df.shape[1]) + 
      "\n-- Column names:\n", df.columns)

----- DataFrame loaded
in 17.71 seconds
with 9,467,924 rows
and 6 columns
-- Column names:
 Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

In [4]:
df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0050419,tt0043044,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0038355,tt0117057,tt0071877,tt0037382"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0049189,tt0054452,tt0057345,tt0059956"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0069467,tt0083922,tt0050986,tt0050976"

### Replace $\texttt{\N}$ with $\texttt{NaN}$ in column $\texttt{deathYear}$
Values were replaced via the $\texttt{pd.read_csv}$ parameters when the file was read.

### Record results to a .csv file

In [5]:
save_path = data_dir + 'precleaned/' + file_name[:-4] + '_precleaned.csv'
t = time()
df.to_csv(save_path, index=False)
elapsed = time() - t
print("DataFrame saved to file:\n", save_path,
      "\ntook {0:.2f} seconds".format(elapsed))

DataFrame saved to file:
 ../../data/imdb/precleaned/name.basics_precleaned.csv
took 27.66 seconds